repos:
  # python linter and formatter
  - repo: local
    hooks:
      - id: ruff
        name: ruff-lint
        language: python
        types_or: [python]
        entry: ruff check . --fix

      - id: ruff-format
        name: ruff-format
        language: python
        types_or: [python]
        entry: ruff format .

  # yaml, json formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml, json]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # list of supported hooks: https://pre-commit.com/hooks.html
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-private-key
      - id: check-toml
      - id: check-case-conflict
      - id: check-added-large-files
